@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Nunito:wght@400;800&display=swap');

*{
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff59d;
}

.login-box {
  display: flex;
  flex-direction: column;
  background-color: #1b3039;
  text-align: center;
  padding: 20px 25px;
  border-radius: 25px;
}

.welcome-message{
  color: white;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
}

.input-container {
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: left;
  border-radius: 10px;
}

.input-control {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.signin-button {
  text-align: center;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

p {
  color: red;
}